body {
    margin: 0;
    font-family: sans-serif;
    background-color: #131313;
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .results {
    display: inline-block; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    align-content: space-between;
}
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  input[type="text"] {
    /* center input with padding */
    display: block;
    box-sizing: border-box;
    width: 15%;
    left: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .card {
    /* Make all cards the same size by leaving space */
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .card h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .card p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
  }
  
  .card .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 14px;
    color: #999;
  }
  
  .card .tags span {
    margin-right: 10px;
  }
  
  span {
/*     center text in a rounded border */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  