body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #131313;
    background-image: url("https://media.discordapp.net/attachments/1053706342537379952/1053976316556357662/wolfred_wallpaper1.png");
    opacity: 0;
    transition: opacity .5s;
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  img {
    margin-left: 50%;
    margin-right: 50%;
  }

  input[type="text"] {
    /* center input with padding */
    display: block;
    box-sizing: border-box;
    width: 15%;
    left: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  span {
/*     center text in a rounded border */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #000000 25%, #000000 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(139, 139, 139, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    color: red;
    transition: ease-in-out 0.3s;
  }

  #main {
    /* Make it a rounded card */
    border-radius: 5px;
    background-color: #0000007e;
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* Image Icon on the end of the card and fit it */
    background-image: url("https://media.discordapp.net/attachments/1053706342537379952/1054061969835053136/wolf1.png?width=751&height=676");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
  }

  #main h1 {
    /* Center the text */
    color: #fff;
  }

  #main p {
    /* Center the text */
    color: #fff;
  }

  #main p a {
    /* remove decorations */
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  #main p a:hover {
    /* remove decorations */
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: ease-in-out 0.1s;
  }